/*
	Author: Tanner Garret
	Build: 1.0.0
	Description: Specifies all rules, fonts, and other specifications of the main page of SunSpot
*/

/* Imported Fonts */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

/* CSS Rules */

body {
}

h1 {
	font-size: 4em;
	font-weight: 700;
	letter-spacing: .25em;
}

header {
	background-color: #F5DB47;
	border-bottom: 5px solid #F59E47;
	font-family: 'Oswald', 'Helvetica', sans-serif;
	padding: 1em;
	padding-bottom: 0;
}

input {
	max-width: 100%;
}

legend {
	font-size: 2.1em;
	text-decoration: underline;
}

.btn-group {
	margin-bottom: 10px;
	height: 34px;
	display: block;
}

.container-fluid, .row {
	margin: 0px;
	padding: 0px;
}

.sidebarItem {
	margin-top: 10px;
}

#disclaimer {
	text-align: right;
	margin: 0;
	padding: 0;
}

#efficiency, #performance {
	text-align: center;
	font-size: 2em;
	margin-top: 20px;
}

#efficiencySlider-slider, #performanceSlider-slider {
	width: 100%;
}

#instructions{
	font-size: 1.2em;
	text-align: center;
	text-decoration: underline;
}

#longitude, #latitude {
	margin-bottom: 15px;
	text-align: center;
}

#maparea {
	min-height: 1000px;
}

#sidebar {
	background-color: rgba(245, 219, 71, 0.5);
	font-family: 'Raleway', sans-serif;	
	font-weight: 700;
	min-height: 1000px;
}

#totalResults {
	margin-top: 15px;
	text-align: center;
	font-size: 3.2em;
}

@media (min-width : 992px) {

}